@font-face{
    font-family:'NotoSansKR';
    font-weight:400;
    src:url(/assets/fonts/NotoSansKR-VF.woff2) format(woff2)
}

@font-face{
    font-family:'mont';
    font-weight:400;
    src:url(/assets/fonts/Montserrat-VF.woff) format(woff)
}